<a href="https://colab.research.google.com/github/YuniNurdiyanti09/Coba/blob/main/Pyhton%20Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
print(1+2)
print(2*3)

3
6

In [ ]:
print(((1+3)*(9-2)/2)**2)

196.0

In [ ]:
print(3*2)

6

In [ ]:
# comment pada python
Multiply 3 by 2

SyntaxError: ignored

In [ ]:
test_var = 4+5
print(test_var)

9

- Mereka tidak boleh memiliki spasi (misalnya, test var tidak diperbolehkan)
- Mereka hanya dapat menyertakan huruf, angka, dan garis bawah (misalnya, test_var! tidak diperbolehkan)
- Mereka harus dimulai dengan huruf atau garis bawah (misalnya, 1_var tidak diperbolehkan)
Kemudian, untuk membuat variabel, Anda perlu menggunakan = untuk menetapkan nilai yang Anda inginkan.

In [ ]:
# manipulasi Variable
a=3
print(a)
a= 100
print(a)

3
100

In [ ]:
print(a)
print(test_var)

100
9

In [ ]:
a=a+10
a

110

In [ ]:
# create variable
num_years = 4
day_per_year = 365
hour_per_day = 24
min_per_hour = 60
secs_per_min = 60
# calculate number of second in four years
total_secs = num_years*day_per_year*hour_per_day*min_per_hour*secs_per_min
total_secs

126144000

In [ ]:
day_per_year = 365.25
total_secs = num_years*day_per_year*hour_per_day*min_per_hour*secs_per_min
total_secs

126230400.0

In [ ]:
def add_three(input_var):
  output_var = input_var +3
  return output_var

In [ ]:
new_number=add_three(30)
print(new_number)

33

In [ ]:
def get_pay(num_hours):
  pay_pretax =num_hours *15
  pay_aftertax =pay_pretax * (1- .12)
  return pay_aftertax

pay_fulltime = get_pay(40)
print(pay_fulltime)

528.0

In [ ]:
pay_parttime = get_pay(32)
print(pay_parttime)

422.4

In [ ]:
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
  pay_pretax = num_hours * hourly_wage
  pay_aftertax= pay_pretax * (1-tax_bracket)
  return pay_aftertax

highter_pay_aftertax = get_pay_with_more_inputs(40,24, 0.22)
print(highter_pay_aftertax)

748.8000000000001

In [ ]:
def print_hello():
  print("hello world")
  print("good morning!")

print(print_hello)

<function print_hello at 0x7836f19c2e60>

In [ ]:
print_hello()

hello world
good morning!

In [ ]:
x=14
print(x)
print(type(x))

14
<class 'int'>

In [ ]:
almost_pi =22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [ ]:
rounded_pi = round(almost_pi, 5)
print(type(rounded_pi))

<class 'float'>

In [ ]:
y_float =1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>